.error-popup {
    font-size: 0.7rem;
    color: #cb7678;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    bottom: -1.8rem;
    left: 0;
    
    padding: 0.5em;
    // @media (min-width: 425px) {
    //     bottom: -15px;
    // }
    @media (min-width: 768px) {
        bottom: -1.5rem;
        font-size: 0.9rem;
    }
    &__input-error {
        color: black;
        background-color: #f1c3c4;
    }
    &__input-check {
        
    }

}