.main-nav-toggle {
  display: none;
  @media (max-width: 992px) {
    &:checked {
      & ~ .main-header {
        .main-header__nav-container {
          transform: translateX(0);
        }
        .hamburger-line {
          &--1 {
            transform: rotate(45deg);
          }
          &--2 {
            transform: scaleY(0);
          }
          &--3 {
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}
